
@import 'base';

.clarify-single-shape-workspace {
  height: 100%;
}

.clarify-single-shape-annotation-sidebar {
  padding: $grid-unit-size;
  overflow: auto;

  .clarify-single-shape-annotation-sidebar-label-select,
  .clarify-single-shape-annotation-sidebar-label-type-selector {
    .ant-select {
      width: $grid-unit-size * 20;
    }
  }

  .clarify-single-shape-annotation-sidebar-points-count-input {
    .ant-input-number {
      width: $grid-unit-size * 20;
    }
  }

  .clarify-single-shape-annotation-sidebar-label,
  .clarify-single-shape-annotation-sidebar-label-type,
  .clarify-single-shape-annotation-sidebar-points-count,
  .clarify-single-shape-annotation-sidebar-label-select,
  .clarify-single-shape-annotation-sidebar-points-count-input,
  .clarify-single-shape-annotation-sidebar-navigate-empty-checkbox,
  .clarify-single-shape-annotation-sidebar-predefined-pounts-count-checkbox,
  .clarify-single-shape-annotation-sidebar-auto-save-checkbox {
    margin-top: $grid-unit-size;
  }

  .clarify-single-shape-annotation-sidebar-auto-next-frame-checkbox {
    margin-top: $grid-unit-size * 3;
  }

  .clarify-single-shape-annotation-sidebar-auto-next-frame-checkbox,
  .clarify-single-shape-annotation-sidebar-auto-save-checkbox,
  .clarify-single-shape-annotation-sidebar-navigate-empty-checkbox,
  .clarify-single-shape-annotation-sidebar-predefined-pounts-count-checkbox {
    user-select: none;
  }

  .clarify-single-shape-annotation-sidebar-hint {
    row-gap: 0;
    text-align: center;
    font-size: large;
    margin-bottom: $grid-unit-size;
  }

  .clarify-single-shape-annotation-sidebar-ux-hints {
    ul {
      padding-left: $grid-unit-size * 2;
    }
  }

  .clarify-single-shape-annotation-sidebar-skip-wrapper {
    margin-bottom: $grid-unit-size;

    button {
      width: $grid-unit-size * 35.5;
    }
  }

  .clarify-single-shape-annotation-sidebar-not-found-wrapper {
    margin-top: $grid-unit-size * 3;
    text-align: center;
    flex-grow: 10;
  }
}
