@import '../../base.scss';

.ant-menu.clarify-actions-menu {
    box-shadow: $box-shadow-base;

    > li:hover {
        background-color: $hover-menu-color;
    }

    .ant-menu-submenu-title {
        margin: 0;
        width: 13em;
    }
}

.clarify-menu-dump-submenu-item,
.clarify-menu-export-submenu-item {
    > span[role='img'] {
        color: $info-icon-color;
    }

    &:hover {
        background-color: $hover-menu-color;
    }
}

.clarify-menu-icon {
    font-size: 16px;
    margin-left: 8px;
    align-self: center;
}

#clarify-backup-task-loading {
    margin-left: 10;
}